.header{
    background-color: pink;
  }

.header h1 a{
    float:left; 
  }
.header ul{
    float:right;
    margin-top:55px;
    margin-right:20px;
 }
 .header ul li{
    float:left;
    margin-right:25px;
    font-size:18px;
 }
 .header ul li a{
    text-decoration: none;
    color:rgb(111, 18, 18);
 }